.GridItemV2 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  /* background: #eee; */
  height: auto;
  width: 200px;
  border: 1px solid #90c33e;
  border-radius: 20%;
}

.GridItemV2 a {
  text-decoration: none;
  font-style: italic;
  font-size: 1.25rem;
  color: #111;
}
.GridItemV2-image {
  height: 100px;
  width: auto;
  /* object-fit: cover; */
  align-self: center;
}

.GridItemV2 h5 {
  justify-self: flex-end;
}

.GridItemV2-title {
  text-transform: capitalize !important;
  text-align: center;
  line-height: 1.5rem;
  height: 3rem;
}
