/* Grid View Column Responsiveness */
.GridViewV2 {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.3s ease-in-out;
}

.GridViewV2-advancedFilters .selector {
  margin-bottom: 1rem;
  width: 100%;
}

.GridSearch .selector > div {
  border-color: #90c33e;
}

.GridViewV2-accordion {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 1rem;
}
.GridViewV2-accordion .card-header {
  border: none;
}

.GridViewV2-accordion .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.GridViewV2-accordion .card-body {
  background: #eee;
}

@media screen and (min-width: 500px) {
  .GridViewV2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .GridViewV2 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .GridViewV2 {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Grid View Column Responsiveness Ends */

/* Pagination CSS */

/* Code Courtesy: W3Schools - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_pagination */

.pagination {
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  /* width: 25px;
  height: 25px; */
  font-size: 1rem;
}

.pagination .active a {
  background-color: #90c33e;
  color: white !important;
  font-size: 1.25rem;
  /* border-radius: 50%; */
}

/* Pagination CSS ENDS */

/* All Dropdowns - React Select CSS */
.selectorCommonName {
  margin: 0 auto;
}

.selector {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
}

@media screen and (min-width: 900px) {
  .GridViewV2-advancedFilters {
    /* display: flex;
    justify-content: space-around;
    flex: 1 1 300px; */
  }
}
