.grid-hero {
  position: relative;
}

.grid-hero img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  width: 100%;
  opacity: 0.5;
  object-fit: cover;
}

.contentOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.contentOverlay h2 {
  font-size: 2.3rem;
  font-weight: 100;
}

.contentOverlay p {
  margin-top: 1rem;
  font-size: 1.35rem;
  line-height: 1.75rem;
}
