.Hero {
  display: flex;
  justify-content: space-around;
}

.Hero-content {
  text-align: left;
}

.Hero-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bgVid-container {
  height: 100%;
  width: 100%;
}

.bgVid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mainContent {
  position: relative;
}

.mainContent .contentOverlay {
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
  padding: 2rem;
}

.mainContent h2 {
  color: white;
  font-weight: 300;
}

.mainContent p {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
}

.heroVideo {
  display: none;
}

.mainContent {
  height: 70vh;
  min-height: 500px;
  /* REFERNCE (Image from Unsplash: https://images.unsplash.com/photo-1443706340763-4b60757a36ce?auto=format&fit=crop&ixlib=rb-1.2.1&q=80&w=675 */
  background-image: url("https://images.unsplash.com/photo-1443706340763-4b60757a36ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .heroVideo {
    display: block;
  }

  .mainContent {
    height: auto;
    background-image: none;
    background-size: cover;
    background-position: center;
  }
}
