.Hero {
  display: flex;
  justify-content: space-around;
}

.Hero-content {
  text-align: left;
}

.Hero-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bgVid-container {
  height: 100%;
  width: 100%;
}

.bgVid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mainContent {
  position: relative;
}

.mainContent .contentOverlay {
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
  padding: 2rem;
}

.mainContent h2 {
  color: white;
  font-weight: 300;
}

.mainContent p {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
}
