.ShopV2 .jumbotron {
  background-image: url("/images/shop-v2-imgs/Capture3.PNG");
  background-size: cover;
  /* background-color: #111 !important; */
  background-position: center;
  color: white;
  height: 300px;
}

.ShopV2 .container {
  /* color: white; */
  /* font-size: 18px; */
  /* filter: drop-shadow(2px 2px 4px #000); */
}

.ShopV2 .shopProducts {
  background-image: url("/svg/pattern.svg");
  background-repeat: repeat;
  background-size: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
