.SingleImage{
    width:100%;
}
.singlePage{
    width:70%;
    margin:auto;
}
fieldset{
    /* padding:2em; */
}
.others{
    width:80%;
    display: flex;
    justify-content: space-around;
    margin:auto;
    margin-top:1.5em;

}
.location{
    width:40%;
    border:1px solid black;
}
.location i{
    width:40%;
    border:1px solid black;
}
.shop{
    width:40%;
    border:1px solid black;

}
p{
    text-align: center;
}
.moreInfo{
    margin-bottom:2em;
}
.moreInfo h2{
    margin-top:1.2em;
}
.ContactPage span{
text-align: left;
}