
.h1 {
    margin-top: 5rem;
}

.members{
    margin-top: 2rem;
}
.img_teamPage{
    max-width: 100%;
    width: 250px;
    height: 200px;
    margin-right: 2%;
}

p{
    display: none;
}

@media only screen and (min-width: 800px) {
    .img_teamPage{
        width: 500px;
        height: 400px;
    }
    p{
        display: block;
        margin: 1rem;
    }
  }